

<div class="Rectangle1"
style="width: 100%; height: 66px; left: 0px; top: 0px; position: absolute; background: rgba(0, 0, 0, 0.93)">,</div>

<a href="#" class="Incluse" style="left: 45px; top: 14px; position: absolute; color: white; font-size: 28px; font-family: Inter; font-weight: 400; line-height: 30px; word-wrap: break-word; text-decoration: none;">
   Incluse
</a>


<a href="#how-it-works" class="HowItWorks" style="left: 199px; top: 18px; position: absolute; color: white; font-size: 20px; font-family: Inter; font-weight: 400; line-height: 25px; word-wrap: break-word; text-decoration: none;">
   How it works
</a>

<a href="#our-thesis" class="OurThesis" style="left: 355px; top: 18px; position: absolute; color: white; font-size: 20px; font-family: Inter; font-weight: 400; line-height: 25px; word-wrap: break-word; text-decoration: none;">
   Our thesis
</a>

<a href="#join-waitlist" class="Waitlist-heading1" style="left: 1255px; top: 13.5px;background-color: #4CAF50; position: absolute; text-align: center; color: white; font-size: 20px; font-family: inter; font-weight: 150; line-height: 20px; word-wrap: break-word; text-decoration: none; padding: 7.5px 10px; border-radius: 2px;">
   Join the waitlist
</a>


<style>
   .title-heading {
       width: 1450px;
       height: 134px;
       top: 50vh; /* Adjust based on your preference */
       left: 50%;
       transform: translate(-50%, -50%);
       position: absolute;
       text-align: center;
       color: black;
       font-size: 52px;
       font-family: Playfair Display;
       font-weight: 600;
       line-height: 65px;
       word-wrap: break-word;
   }
</style>
<div class="title-heading">
   Bridging international students tuition<br/>fee gap with interest free loans
</div>



<style>
   .title-heading-2{
       width: 1280px;
       height: 42px;
       top: 60vh; /* Adjust based on your preference */
       left: 50%;
       transform: translate(-50%, -50%);
       position: absolute;
       text-align: center;
       color: black;
       font-size: 25px;
       font-family: Figma Hand;
       font-weight: 700;
       line-height: 35px;
       word-wrap: break-word
}
</style>
<div class="title-heading-2">
   Bridging the Gap, Breaking the Barriers
</div>


<style>
   .description-title{
       width: 1300px;
       height: 45px;
       top: 105vh; /* Adjust based on your preference */
       left: 50%;
       transform: translate(-50%, -50%);
       position: absolute;
       text-align: center;
       color: black;
       font-size: 40px;
       font-family: Playerfair Display;
       font-weight: 700;
       line-height: 35px;
       word-wrap: break-word
   }
</style>

<div id="how-it-works" class="description-title">
   How Incluse works
</div>



<style>
   .description{
       width: 1280px;
       height: 42px;
       top: 115vh; /* Adjust based on your preference */
       left: 50%;
       transform: translate(-50%, -50%);
       position: absolute;
       text-align: center;
       color: black;
       font-size: 35px;
       font-family: Playerfair Display;
       font-weight: 510;
       line-height: 35px;
       word-wrap: break-word
   }
</style>
<div class="description">
   Incluse provides international students in Australia with short-term, interest-free loans to bridge their tuition fee gap.<br/>
   "Bridging the gap" means we only provide credit to students who have the majority of their fee bill covered for the semester but are short on the last dollars.<br/>
   Students repay their loans in installments spanning a few months. No interest is charged on the loan, but penalty fees apply if payment deadlines are missed.<br/>
   Funds are directly deposited with your education provider rather than the student's account for enhanced transparency.<br/>

   <br/>To apply for credit, you must:<br/>

   <br/>- Have a valid Australian Visa with entitlement to work.
   <br/>- Be enrolled in a higher education program.
   <br/>- Have a source of income.
   <br/>- Be able to provide evidence of prior tuition fee payments for the semester.<br/>

</div>


<style>
   .thesis{
       width: 1280px;
       height: 42px;
       top: 203vh; /* Adjust based on your preference */
       left: 50%;
       transform: translate(-50%, -50%);
       position: absolute;
       text-align: center;
       color: black;
       font-size: 40px;
       font-family: Playerfair Display;
       font-weight: 700;
       line-height: 35px;
       word-wrap: break-word

   }
</style>

<div id="our-thesis" class="thesis">
   Our thesis
</div>


<style>
   .thesis-1{
       width: 1280px;
       height: 42px;
       top: 210vh; /* Adjust based on your preference */
       left: 50%;
       transform: translate(-50%, -50%);
       position: absolute;
       text-align: center;
       color: black;
       font-size: 35px;
       font-family: Playerfair Display;
       font-weight: 510;
       line-height: 35px;
       word-wrap: break-word
   }
</style>
<div class="thesis-1">
   <br/>We were international students not so long ago, and our sole thesis behind building Incluse is to create a product we would have loved when we were international students ourselves. Our biggest concern, along with our grades, was our tuition bill, which was due shortly. No financial institution was interested in creating a product that targeted international students and tried to solve this problem. Unfortunately, that has not changed yet.<br/>
   <br/>We believe international students are one of the most hard-working and underbanked demographics in Australia. The only exposure to credit they have is through Buy Now, Pay Later services, with which they can access items they don't need but cannot pay for their tuition fees using credit.<br/>
   <br/>We believe international students are an integral part of the economy, and an average international student will live in Australia for 5-10 years, if not permanently. Incluse, in its broader vision, aims to be the primary financial partner for international students in the future<br/>


</div>



<div class="Rectangle-2"
style="width: 100%; height: 910px; left: 0px; top: 300vh; position: absolute; background: rgba(0, 0, 0, 0.93)">
</div>


<style>
   .Waitlist-heading2{
       width: 1280px;
       height: 42px;
       top: 326vh; /* Adjust based on your preference */
       left: 50%;
       transform: translate(-50%, -50%);
       position: absolute;
       text-align: center;
       color: white;
       font-size: 45px;
       font-family: caveat;
       font-weight: 510;
       line-height: 75px;
       word-wrap: break-word
   }
</style>

<div id ="join-waitlist" class="Waitlist-heading2">
   Join the waitlist
</div>

<div class="waitlist-form" style="width: 100%; left: 0px; top: 325vh; position: absolute;">
   <form action="waitlist" method="post" style="margin: 100px; text-align: center;">
       <!-- Name input -->
       <label for="name" style="color: white; font-size: 20px; font-family: Inter; display: block; margin-bottom: 10px;"></label>
       <input type="text" id="name" name="name" autocomplete="off" autofocus placeholder="Name" required style="width: 40%;  padding: 10px; margin-bottom: 20px;" required>

       <!-- Email input -->
       <label for="email" style="color: white; font-size: 20px; font-family: Inter; display: block; margin-bottom: 10px;"></label>
       <input type="email" id="email" name="email" autocomplete="off" autofocus placeholder="Email" required style="width: 40%; padding: 10px; margin-bottom: 20px;" required>

       <!-- University input -->
       <label for="university" style="color: white; font-size: 20px; font-family: Inter; display: block; margin-bottom: 10px;"></label>
       <input type="text" id="university" name="university" autocomplete="off" autofocus placeholder="University" list="universities" required style="width: 40%; padding: 10px; margin-bottom: 20px;" required>
       <datalist id="universities">
           <option value="University of Melbourne">
           <option value="RMIT University">
           <option value="Swinburne University of Technology">
           <option value="Deakin University">
           <option value="La Trobe University">
           <option value="Victoria University">
           <option value="Monash University">
           <option value="Charles Sturt University">
           <option value="Flinders University">
           <option value="Federation University">
           <option value="Southern Cross University">
           <option value="Other">
       </datalist>
       <!-- Other University input -->
       <input type="text" id="otherUniversity" name="otherUniversity" autocomplete="off" placeholder="Other University" style="display: none; left: 50%; transform: translateX(69.5%); width: 40%; padding: 10px; margin-bottom: 2px;">


<br/>
       <!-- Submit button -->
       <input type="submit" value="Join the Waitlist" style="background-color: #4CAF50; color: white; ; padding: 7.5px; cursor: pointer; font-size: 20px; font-family: Caveat; border: none;">
   </form>
</div>

<script>
   document.getElementById("university").addEventListener("input", function() {
       var universityInput = this.value.toLowerCase();
       if (universityInput === "other") {
           document.getElementById("otherUniversity").style.display = "block";
       } else {
           document.getElementById("otherUniversity").style.display = "none";
       }
   });
</script>
