{% extends "layout.html" %}

{% block body %}
<style>
   .success {
        width: 1450px;
        height: 134px;
        top: 50%; /* Adjust based on your preference */
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        text-align: center;
        color: black;
        font-size: 52px;
        font-family: Playfair Display;
        font-weight: 600;
        line-height: 65px;
        word-wrap: break-word;
    }
</style>
  <div class="success">
    Thank you for joining the waitlist

  </div>

{% endblock %}
